*.pyc
.idea
__pycache__/*
kinetick/__pycache__/*
dist
/build
/docs/build/doctrees/*
/docs/build/html/*
/docs/build/epub/*
!/docs/build/epub/*.epub
kinetick.egg-info
kinetick.egg-info
Icon
/sql-aggregate.txt
/tests
.vscode
nosy.py
env
.env
.git
symbols.csv
.github
docs
.kube
examples
deploy.yaml
docker-compose.yaml
.resources
